<div id="mapData" data-sessions="<%=JSON.stringify(sessions) %>"> </div>
<div id="map"> Mapp</div>
<% sessions.forEach((session) => { %>
  <div id="showAll">
      <img src="<%= session.image %>" alt="<%= session.name %>">
      <h2><%= session.name %></h2>
      <p><%= session.category %></p>
      <a href="/sessions/<%= session.id %>">
      <p>
        <%= session.address.fullAddress %><br>
        <% if(session.address.street) { %><%= session.address.street %><br><% } %>
        <%= session.address.city %><br>
        <%= session.address.postcode %><br>
        <%= session.address.country %>
      </p>
      </a>
      <p id="hearts">
        <% while(session.stars--) { %> &#9996; <% } %>
      </p>
  </div>
  <br>
<% }) %>
